 html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .music{
        width:30px;
        height: 30px;
        z-index: 2;
        position: absolute;
        right: 3%;
        top:2%;
        animation:music 1s linear infinite;

    }
    .music img{
        width: 100%
    }
    @keyframes music{
        from{
            transform:rotate(0deg);                
        }
        to{
            transform:rotate(360deg);                
        }
    }
    .bottombtn{
        width: 30px;
        height: 10px;
        z-index: 2;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -15px;
        animation:bottombtn 1s linear infinite;
    }
    @keyframes bottombtn{
        from{
            opacity: 1
            bottom:30px;
        }
        to{
            bottom:55px;
            opacity: 0
        }
    }
    .img1{
        background: url(../images/img1.jpeg)no-repeat;
        /* backgno-repeatround-size: 100% 100%; */
    }
    .img2{
        background: url(../images/img01.jpeg)no-repeat;
        /* background-size: 100% 100%; */
    }
    .img3{
        background: url(../images/bg8.jpg)no-repeat;
        /* background-size: 100% 100%; */
    }
    .img4{
        background: url(../images/img02.jpeg)no-repeat;
        /* background-size: 100% 100%; */
    }
    .img5{
        background: url(../images/img8.jpeg)no-repeat;
        /* background-size: 100% 100%; */
    }
    .img6{
        background: url(../images/img7.jpeg)no-repeat;
        /* background-size: 100% 100%; */
    }
    .img1,.img2{
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .firstpagetopresume{
       width: 185px;
       border-bottom: 1px solid #fff;       
       position: absolute;
       top:5%;
    }
    .firstpagetop1{
        color: white;
        letter-spacing: 4px;
        font-size: 12px;
    }
    .firstpagetop2{
        color: white;
        letter-spacing: 4px;
        font-size: 20px;
        margin-bottom: 5px
    }
    .profilephoto{
        width: 180px;
        height: 180px;
        background: url(../images/resume.png)no-repeat;
        background-size:  contain;
        position: absolute;
        top:17%;

    }
    .profilephoto img{
        width: 180px;
        height: 180px;
    }
     .firstpagetextfir{
        font-size:20px;
        color: white;
        position: relative;
        top:25px;
    }
    .firstpagetextsec{
        font-size:24px;
        color: white;
        position: relative;
        top:55px;
    }
    .knownmore{
        width:240px;
        height: 50px;
        background: url(../images/known-more.png)no-repeat;
        position: absolute;
        bottom:20%;
        background-size:  contain;
    }
    .knownmoretext{
        font-size:12px;
        color: black;
        text-decoration: none;
        position: relative;
        top:9px;
        font-weight: bold;

    }

    .secondpagebg{
        width:390px;
        height: 600px;
        background: url(../images/bg3.png)no-repeat;
        position: absolute;
        top:12%;
        background-size:  contain;
    }
    .secondpageinfo{
        width:100px;
        height: 30px;
        border: 2px dashed #7c4bff;
        color: #7c4bff;
        position: absolute;
        top:8%;
        left:10%;
        line-height: 30px;
    }
    .secondpageinfo1{
        width:200px;
        /* height: 30px; */
       
        color: #7c4bff;
        position: absolute;
        top:17%;
        left:10%;
        line-height: 30px;
        text-align: left;
        line-height: 40px;
    }
    .secondpageinfoimg{
        background: url(../images/resume.png);
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        top:10%;
        left:55%;
    }
    .thirdpageinfo{
        width:200px;
        height: 40px;
        border: 2px dashed lightblue;
        color: white;
        position: absolute;
        top:8%;
        left:25%;
        line-height: 40px;
        font-family: "微软雅黑";
        font-size: 22px;

    }
    .swiper-slide img{
    width: 80px;
    height: 65px;
    }
    .thirdimg1{
   /*  width: 80px;
    height: 65px; */
    position: absolute;
    top:22%;
    left: 10%
    }
    .thirdimg2{
   /*  width: 80px;
    height: 65px; */
    position: absolute;
    top:34%;
    left: 10%
    }
    .thirdimg3{
    position: absolute;
    top:44%;
    left: 10%
    }
    .thirdimg4{
    position: absolute;
    top:56%;
    left: 10%
    }
    .thirdimg5{
    position: absolute;
    top:68%;
    left: 10%
    }
    .thirdtext1{
    position: absolute;
    top:24%;
    left: 50%;
    color:white;
    }
    .thirdtext2{
    position: absolute;
    top:36%;
    left: 50%;
    color:white;
    }
    .thirdtext3{
    position: absolute;
    top:46%;
    left: 50%;
    color:white;
    }
    .thirdtext4{
    position: absolute;
    top:58%;
    left: 50%;
    color: white;
    
    }
    .thirdtext5{
    position: absolute;
    top:70%;
    left: 50%;
    color:white;
    font-size: 18px;
    }
   .swiper-slide .stu{
    color:white;
    width: 180px;
    text-align: left;
    }
    .swiper-slide .stu1l{
    position: absolute;
    top:25%;
    left: 3%;
    }
    .swiper-slide .stu1r{
    position: absolute;
    top:25%;
    right:1%;
   }
    .swiper-slide .stu2l{
    position: absolute;
    top:43%;
    left: 3%;
    }
    .swiper-slide .stu2r{
    position: absolute;
    top:43%;
    right: 1%;
    }
    .swiper-slide .stu3l{
    position: absolute;
    top:60%;
    left: 3%;
    }
    .swiper-slide .stu3r{
    position: absolute;
    top:60%;
    right: 1%;
    }
    .swiper-slide .stu4l{
    position: absolute;
    top:80%;
    left: 3%;
    }
    .swiper-slide .stu4r{
    position: absolute;
    top:80%;
    right: 1%;
    }
    .circle1{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background: yellow;
        position: absolute;
        top:26%;
        left:49%;
        /* display: none; */
    }
        .circle2{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background: yellow;
        position: absolute;
        top:44%;
        left:49%;
        
    }
        .circle3{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background: yellow;
        position: absolute;
        bottom:37%;
        left:49%;
        
    }
        .circle4{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background: yellow;
        position: absolute;
        bottom:17%;
        left:49%;
        
    }
    
    .line{
        
        position: absolute;
        top: 20%;
        left: 50%;
        width: 6px;
        /* height: 500px; */
        background: #ccc;
        border-radius: 10px;
        animation:linechange 5s linear;
    }

   @keyframes linechange{
        0%{
            width: 6px;
            height: 40px;
            background: #ccc;
            
        }
      
         100%{
            width: 6px;
            height: 500px;
            background: #ccc;
        }
    }
    .fittext{
        color: white;
        font-size: 20px;
        height: 200px;
        line-height: 80px;
        position: absolute;
        top:20%;
        left: 50%;
        margin-left: -100px;
    }
    .lastpage{
        color: white;
        font-size: 30px;
        line-height: 100px;
        position: absolute;
        top:20%;
    }

